@import 'base/variables';
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600&family=Roboto:wght@100;300;400;500;700;900&display=swap');
* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: 'Poppins', sans-serif;
}
body {
    background: #FAFBFF;
    display: flex;
    height: 100%;
    position: relative;
}
ul {
    list-style: none;
}
@import 'blocks/sidePanel';
@import 'blocks/dashboard';
