.side_panel {
    background-color: #fff;
    padding: 37px 28px 117px 28px;
    width: 386px;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    order: 1;
    box-shadow: 0px 10px 60px 0px rgba(226, 236, 249, 0.50);

    &__logo {
        display: flex;
        svg {
            margin: 0 8px 0 0;
        }
    }

    &__title {
        font-size: 26px;
        line-height: 39px;
        font-weight: 600;
        display: inline;
    }

    &__ver {
        align-items: flex-end;
        display: flex;
        font-size: 10px;
        font-weight: 500;
        color: #838383;
        margin: 0 0 0 5px;
        line-height: 27px;
    }

    &__menu {
        margin: 53px 0 0 0;
        &_item {
            svg {
                margin: 0 14px 0 0;
            }
            border-radius: 8px;
            cursor: pointer;
            transition: all 0.5s;
            margin: 18px 0;
            display: flex;
            padding: 11px 9px 11px 11px;
            color: #9197B3;
            font-size: 14px;
            line-height: 24px;
            font-weight: 500;
            &:first-child {
                margin: 0 0 7px 0;
            }
            &:last-child {
                margin: 7px 0 0 0;
            }
            &:hover {
                background-color: #eeeeee;
            }
            &--active {
                color: #fff;
                background-color: $active-menu-color;
                &:hover {
                    background-color: $active-menu-color;
                }
            }
        }
    }

    &__arrow {
        display: flex;
        align-items: center;
        margin: 0 0 0 0;
        svg {
            margin: 0 0 0 0;
        }
        margin: 0 0 0 auto;
    }

    &__user {
        display: flex;
        margin: auto 0 0 0;
    }
    &__avatar {
        width: 42px;
        height: 42px;
        overflow: hidden;
        img {
            width: 100%;
            border-radius: 100%;
        }
    }

    &__sideInfo {
        margin: 0 0 0 12px;
    }

    &__name {
        font-size: 14px;
        font-weight: 500;
        line-height: 24px;
    }
    &__position {
        color: #757575;
        font-size: 12px;
        font-weight: 400;
    }
}

@media (max-width: 1200px) {
    .side_panel {
        width: 300px;
        padding: 37px 9px 117px 9px;
        &__logo {
            h1 {
                font-size: 24px;
                line-height: 42px;
            }
        }

        &__ver {
            line-height: 33px;
        }
    }
}

@media (max-width: 990px) {
    .side_panel {
        width: 250px;
        padding: 37px 9px 117px 9px;
        &__logo {
            h1 {
                font-size: 19px;
                line-height: 42px;
            }
            svg {
                margin: 0 0 0 5px;
            }
        }

        &__ver {
            font-size: 9px;
            line-height: 33px;
        }
    }
}

@media (max-width: 768px) {
    .side_panel {
        position: absolute;
        transition: all 0.5s;
        padding: 37px 9px 412px 9px;
        left: -250px;
        height: 100%;
        z-index: 3;
        box-shadow: none;

        &--active {
            left: 0px;
            box-shadow: 0 27px 72px 0 rgba(50,50,50,.5);
            span {
                &:first-child {
                    transform: rotate(45deg);
                    transform-origin: center;
                    height: 3px;
                }
                &:nth-child(2) {
                    display: none;
                }
                &:last-child {
                    margin: 0 0 0 0;
                    transform-origin: center;
                    transform: rotate(-45deg) translate(0px, -1.5px);
                    height: 3px;
                }
            }
        }

        &__mobile_button {
            height: 30px;
            position: absolute;
            right: -44px;
            top: 14px;
            span {
                transition: all 0.5s;
                display: block;
                background-color: #000;
                width: 30px;
                height: 2px;
                margin: 2px 0 0 0;
                &:first-child {
                    margin: 0 0 0 0;
                }
            }
        }
    }
}