include base/_variables
include base/_mixins

doctype html
html(lang="en")
    head
        include layout/_head 
    body
        include blocks/_sidePanel
        include blocks/_dashboard
        script(defer src="js/script-min.js")