include ../base/_variables.pug
include ../base/_mixins.pug

doctype html
html(lang="en")
    head
        meta(charset="UTF-8")
        meta(name="viewport", content="width=device-width, initial-scale=1.0")
        link(rel="stylesheet", href="css/style.min.css")
        title Dashboard
    body 
        include ../blocks/_sidePanel.pug
        block content
        